<script>
    function data() {
        return {
            handleLogin: async (event) => {
                const formData = new FormData(event.target);

                const response = await fetch('/login', {
                    method: 'POST',
                    body: formData
                });

                if (!response.ok) {
                    showError(await response.json());
                    return;
                }

                const data = await response.json();
                console.dir(data);
            }
        }
    }
</script>

<div class="container" x-data="data">
    <div class="box">
        <h1 class="title">Login to Govatar</h1>
        <h2 class="subtitle">Start managing your (go)avatars</h2>

        <form action="#" method="post" @submit.prevent="handleLogin">
            <div class="field">
                <label for="email" class="label">Email</label>
                <div class="control">
                    <input type="email" id="email" name="email" class="input">
                </div>
            </div>

            <div class="field">
                <label for="password" class="label">Password</label>
                <div class="control">
                    <input type="password" id="password" name="password" class="input">
                </div>
            </div>

            <div class="level">
                <div class="level-left">
                    <div class="control">
                        <button type="submit" class="button is-primary">Login</button>
                    </div>

                </div>
                <div class="level-right">
                    <a href="/signup">Or create an account</a>
                </div>
            </div>
        </form>
    </div>
</div>