<div class="container">
    <div class="box">
        <h1 class="title">Create an account</h1>
        <h2 class="subtitle">With a Govatar account, your (go)avatars will be automatically displayed on sites which
            use Govatar</h2>

        <form action="#" method="post">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label for="name" class="label">Name</label>
                        <div class="control">
                            <input type="text" name="name" id="name" class="input">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label for="gender" class="label">Gender</label>
                        <div class="select">
                            <select name="gender" id="gender">
                                <option value="">-SELECT-</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="none">None</option>
                            </select>
                        </div>
                        <p class="is-size-7">Used just for generating gender specific (go)avatars</p>
                    </div>
                </div>
            </div>

            <div class="field">
                <label for="email" class="label">Email</label>
                <div class="control">
                    <input type="email" id="email" name="email" class="input">
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label for="password" class="label">Password</label>
                        <div class="control">
                            <input type="password" id="password" name="password" class="input">
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        <label for="repassword" class="label">Re-type password</label>
                        <div class="control">
                            <input type="password" id="repassword" name="repassword" class="input">
                        </div>
                    </div>
                </div>
            </div>

            <div class="level">
                <div class="level-left">
                    <div class="control">
                        <button type="submit" class="button is-primary">Signup</button>
                    </div>

                </div>
                <div class="level-right">
                    <a href="/login">Or login to your account</a>
                </div>
            </div>
        </form>
    </div>
</div>