<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Govatar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.10/dist/cdn.min.js"></script>
    <script src="https://kit.fontawesome.com/8505df3b81.js" crossorigin="anonymous"></script>

    <script type="application/json" id="userJson">{{.user}}</script>
    <script>
        const user = JSON.parse(document.getElementById('userJson').innerText);

        function showError(errors) {
            let message = "Something went wrong!";
            if (Array.isArray(errors)) {
                message = errors.map(err => {
                    if (typeof err === 'object' && err !== null && "Message" in err) {
                        return err.Message;
                    } else if (typeof err === "string") {
                        return err;
                    } else {
                        return "";
                    }
                }).join("\n");
            } else if (typeof errors === "string") {
                message = errors;
            } else if (typeof errors === "object" && errors !== null && "Errors" in errors) {
                showError(errors.Errors);
                return;
            }

            alert(message);
        }
    </script>
</head>

<body>
    <header class="block">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="/" class="navbar-item">
                    <h1>Govatar</h1>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {{if .user}}
                            <a href="/logout" class="button">
                                <span class="icon">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </span>
                                <span>Logout</span>
                            </a>
                            {{else}}
                            <a href="/signup" class="button is-primary">
                                <strong>Sign up</strong>
                            </a>
                            <a href="/login" class="button is-light">
                                Log in
                            </a>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="block">{{embed}}</main>
    <footer class="block"></footer>
</body>

</html>